<div class="row">
  <div class="col-md-5">
    <!--(recipeSelected)="recipeSelected = $event"-->
    <rb-recipe-list></rb-recipe-list>
  </div>
  <div class="col-md-7">
    <rb-recipe-details></rb-recipe-details>

  </div>
</div>
