<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe?.imagePath}}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="addIngridients(selectedRecipe?.ingridients)">To Shipping List</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipe?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <a class="list-group-item" style="" *ngFor="let ing of selectedRecipe?.ingridients">{{ing.name}}: {{ing.amount}} {{ing.units}}</a>
    </ul>
  </div>
</div>
