<div class="row">
  <div class="col-xs-10">
    <h2>Ingridientscd</h2>
    <hr>
    <ul class="list-group">
      <a class="list-group-item" style="" *ngFor="let item of ingridients">{{item.name}}: {{item.amount}} {{item.units}}</a>
    </ul>
  </div>
</div>
