<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-success">New Recipe</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <rb-recipe-item *ngFor="let rItem of recipes" [recipe]="rItem" (click)="onSelectRecipe(rItem)"></rb-recipe-item>
    </ul>
  </div>
</div>
